/****** Body Formats ******/
body {
    font-family:"Urbanist", sans-serif;
    background-color: rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}




/****** NavBar Styles ******/
nav {
    background-color: whitesmoke;
    height: 75px;
}

nav a, nav button {
    text-decoration: none;
}

nav .home, nav .main-opts, nav button {
    padding: 10px;
}

.dropbtn:hover, .main-opts:hover, .home:hover, .dropdown-content a:hover {
    background-color: purple;
    color: whitesmoke !important;
    text-decoration: none;
}

.home {
    color: whitesmoke;
    float: left;
    background-color: teal;
    font-size: 35px;
    position: absolute;
    left: 15px;
    top: 19px;
}

nav ul li {
    display: inline;
    float: right;
    margin: 0 5px;
    padding: 10px;
    font-size: 15px;
    top: 25px;
}

.main-opts, .main-opts button {
    color: teal !important;
}

nav ul {
    margin-right: 10px;
}

.btn {
    position: relative;
    top: 20px;
}


/****** Dropdown Menu Styles ******/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: 0;
    background-color: whitesmoke;
    font-family:"Urbanist", sans-serif !important;
    font-size: 15px;
    margin-top: 0;
    width: 170px;
}

.dropdown-content {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    z-index: 5;
}

.dropdown-content a {
    padding: 0px 26px;
    margin: 20px 0;
    color: teal !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/****** Main Landing Page ******/
h1 {
    color: teal;
    position: relative;
    padding-left: 1rem;
    padding-top: 3rem;
    font-weight: bold;
}

hr {
    border-color: rgb(172, 172, 172);
    margin: 2rem 1rem 1rem;
    border-top: 0;
    height: 2px;     
    background-color:rgb(172, 172, 172);
}

.main div {
    display: inline-block;
}

.main {
    width: 1300px;
    margin: 0 auto;
}

/****** Block 1 Styles ******/
.left-block {
    width: 650px;
    height: auto;
    background-color: whitesmoke;
    float: left;
    margin: 75px 50px 0;
}

.left-block img {
    float: left;
    padding: 0 20px 10px;
}

.left-block section {
    text-align: justify;
    padding: 0px 20px 20px;
    line-height: 23px;
}

.left-block h1 {
    font-size: 35px;
}

/****** Block 2 Styles ******/
.right-block {
    width: 425px;
    height: auto;
    background-color: whitesmoke;
    margin: 75px 50px 0;
    text-align: center;
}

.viz-table {
    margin: 10px auto; 
    display: inline-block;
}

.right-block img {
    padding: 10px;
    width: 200px;
}

.right-block img:hover {
    border:2px solid purple;
}

.right-block h1 {
    font-size: 30px;
    text-align: left;
}


/****** Make adjustments to Left Block Styling for Plot Pages ******/
.plot-pages .left-block img {
    float: none;
    margin: 10px 25px;
}

.plot-pages .left-block {
    width: 900px;
}

.main {
    width: 1650px;
    margin: 0 auto;
}

.active-plot img {
    border:2px solid teal;
}

/****** Make adjustments to Styling for Comparison Page ******/

.comparisons .main {
    width: 1226px;
    height: 1100px;
}

.comparisons .left-block {
    width: auto;
    float: none;
}

.plot-table img {
    width: 500px;
}

.plot-table img:hover {
    border:2px solid purple;
}

.plot-table h2 {
    margin: 20px;
    padding: 0;
    text-align: center;
    color: teal;
    font-weight: bold;
    font-size: 25px;
}

.comparisons .main div {
    display: inline-table;
}

/****** Make adjustments to Styling for Data Page ******/
.data .left-block {
    float: none;
    margin: 75px auto;
    width: 1075px;
}

thead {
    font-weight: bolder !important;
}

.data h1, .data p {
    margin-left: 20px;
}

/****** Style Changes For Small Screen ******/
@media screen and (max-width: 600px) {
    body {
        background-color: whitesmoke;
    }
    
    /****** NavBar Style Changes For Small Screen ******/
    nav {
        background-color: teal;
    }

    nav div ul {
        display: none;
        color: whitesmoke;
        position: absolute;
        z-index: 5;
    }

    /****** General Style Changes For Small Screen ******/
    h1, p {
        margin-left: 5px !important;

    }

    p {
        padding-left: 0;
        padding-right: 0;
    }
    /****** Data Page Style Changes For Small Screen ******/
    .data .left-block {
        margin: 0;
        width: auto;
    }

    .data table {
        border: .5px solid grey;
        width: auto;
        margin: 0 5px;
    }

    /****** Landing Page Style Changes For Small Screen ******/
    .main {
        width: auto;
    }

    .main .left-block {
        margin:0;
        width: auto;
    }

    .main .right-block {
        margin:0;
        width: 100%;
    }

    .main .right-block h1 {
        font-size: 20px;
    }

    .main .right-block img {
        width: 75px;
    }

    .viz-table {
        margin: 0 auto; 
    }
}